@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
html{
  background-color: #3AAFA9;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  color: #17252A;
  padding-left: 70px;
}
h2{
  font-family: 'Quicksand',sans-serif;
  color: #17252A;
  text-align: center;
}
body{
  font-family: 'Quicksand',sans-serif;
  color: #EEEEEE;
}
p{
  text-align: center;
  font-family: 'Quicksand',sans-serif;
  font-size: 15px;
}
a{
}
.box{
  width: 70%;
  margin: 20px 220px;
  padding: 15px 5px;
  box-shadow: 5px 5px 5px black;
  border-radius: 2px;
  background-color:white;
  color:#17252A;
}
label{
  margin: 10%;
  font-size: 20px;
  color:#17252A;
  padding: 8px;
}
.button{
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;

  width: 10%;
  padding: 12px 20px;
  margin-left: 45%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
}
.button:hover {
  background-color: #17252A;
  color: white;
  border-radius: 4px;
  border: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17252A;
  color: white;
  text-align: center;
}
