<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simplify | URL shortener </title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" media="all" />
  </head>
  <body class="home_body">
    <h1> Simplify.</h1>
    <p class="discription"></p>
    <form class="home_from" action="." method="post">{% csrf_token %}
      {{ form.as_p }}
      <button class="button" style="vertical-align:middle"><span>URL</span></button>
    </form>

    <div class="footer">
      <p>Sirish C |
        Amrita School of Engineering, Coimbatore</p>
    </div>
  </body>
</html>
