<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simplify | URL shortener </title>
    <link rel="stylesheet" type="text/css" href="/static/css/already.css" media="all" />
  </head>
  <body class="home_body">
    <h1> Simplify.</h1>
    <h2>SUCCESS</h2>
    <label>ORIGINAL URL</label>
    <div class="box">
     {{object.url}}   <br>
   </div>
   <label>SHORTENED URL</label>
   <div class="box">
    {{object.get_short_url}}<br>
    </div>
    <div>
    <a href="/"><button class="button">NEW ONE</button></a>
    </div>
    <div class="footer">
      <p>Sirish C |
        Amrita School of Engineering, Coimbatore</p>
    </div>
  </body>
</html>
